*{
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
  flex-grow: 1;
}

.footer{
  flex-shrink: 1;
}

.container{
  max-width: 1512px;
  padding: 0 16px;
  margin: 0 auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.location-icon{
  width: 16px;
  height: 20px;
  fill: none;
  stroke: #999999;
}

.search-icon{
  width: 22px;
  height: 22px;
  fill: none;
  stroke: $textLight;
}

.cart-icon{
  width: 24px;
  height: 26px;
  fill: none;
  stroke: $textDark;
}

.personal-icon{
  width: 23px;
  height: 27px;
  fill: none;
  stroke: $textDark;
}

.shevron-icon {
  stroke: $accentColor;
  width: 18px;
  height: 9px;
}

.reset-icon {
  width: 12px;
  height: 13px;
}

.arrow-icon {
  width: 19px;
  height: 24px;
  stroke: #fff;
}

.phone-icon {
  width: 18px;
  height: 18px;
  fill: $accentColor;
}

path {
  fill: inherit;
  stroke: inherit;
}

.title {
  color: $textDark;
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  &_h2 {
    font-size: 32px;
    line-height: 0.5;

    @media(max-width: $mobileBreakPoint) {
      font-size: 20px;
    }
  }

  &_h3 {
    font-size: 18px;
    line-height: 1.4;

    @media(max-width: $mobileBreakPoint) {
      font-size: 14px;
    }
  }
}

.button {
  cursor: pointer;
  border: 1px solid $accentColor;
  border-radius: 100px;
  background-color: $accentColor;
  padding: 13px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.85;
  text-align: center;
  height: 40px;
  transition: ease .3s;

  &:hover {
    box-shadow: 0px 4px 33px 0px rgba(255, 114, 85, 0.25);
    background-color: $redAccent;
    border: 1px solid $redAccent;
  }

  &_border {
    color: $accentColor;
    background-color: transparent;

    &:hover {
      box-shadow: 0px 4px 33px 0px rgba(255, 114, 85, 0.25);
      background-color: transparent;
      color: $redAccent;
    }
  }
}

.count-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 100px;
  background: rgb(245, 245, 245);
  overflow: hidden;
  color: $textDark;
  font-family: 'Montserrat', sans-serif;
  line-height: 0.5;
  text-align: center;
  padding: 0 13.5px;

  @media(max-width: $mobileBreakPoint) {
    padding: 0 25px;
    height: 36px;
    justify-content: space-between;
  }

  &__action {
    display: flex;
    flex: 1;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: ease .3s;

    &[data-countbtn="plus"] {
      justify-content: flex-end;
    }

    @media(max-width: $mobileBreakPoint) {
      font-size: 17px;
      color: $accentColor;
    }

    &:hover {
      color: $redAccent;
    }
  }

  &__field {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    width: 100%;
    max-width: 25px;
    margin: 0;
    border: none;
    height: 19px;
    background: transparent;
    text-align: center;

    @media(max-width: $mobileBreakPoint) {
      font-size: 17px;
    }
  }
}

.social-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &__text {
    color: $textLight;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
    font-weight: 500;
    line-height: 1;
  }

  &__info {
    color: $textDark;
    font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    font-weight: 600;
    line-height: 0.66;
    text-decoration: none;
    transition: all ease .3s;
  }

  a:hover {
    color: $accentColor;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 37px;
  margin: 0 auto;
  font-size: 0;

  &_vk {
    background-image: url(../img/icons/vk.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.logo {
  max-width: 442px;

  @media(max-width: $tabletBreakPoint) {
    max-width: 360px;
  }

  @media(max-width: $mobileBreakPoint) {
    max-width: 234px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &-small {
    width: 63px;
    height: 54px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.app-item {
  display: block;
  width: 140px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav-menu{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;

  &__item{
    list-style: none;
    color: $textLight;
  }

  &__link{
    text-decoration: none;
    color: inherit;
    transition: ease .3s;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);

    @media(max-width: $tabletBreakPoint) {
      font-size: 18px;
      color: $textDark;
    }

    &:hover {
      color: $textDark;
    }
  }
}

.city-select{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  &__visible {
    display: flex;
    align-items: center;
    gap: 8px;

    @media(max-width: $tabletBreakPoint) {
      align-items: flex-start;
    }
  }

  &__field {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $textLight;
    font-family: 'Montserrat';
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
    font-weight: 500;
    line-height: 1;
    transition: all ease .3s;

    @media(max-width: $tabletBreakPoint) {
      width: auto;
      font-size: 18px;
      color: $textDark;
    }

    &:hover {
      color: $textDark;
    }

    &:hover + .city-select__arrow {
      .shevron-icon {
        stroke: $accentColorHover;
      }
    }
  }

  &__text {
    display: block;
    width: 93px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media(max-width: $tabletBreakPoint) {
      width: auto;
    }

    @media(max-width: 360px) {
      width: 200px;
      text-align: left;
    }
  }

  &__sup-text {
    display: none;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: $textLight;

    @media(max-width: $tabletBreakPoint) {
      display: block;
    }
  }

  &__arrow {
    rotate: 90deg;
    transition: rotate .3s;
    cursor: pointer;

    @media(max-width: $tabletBreakPoint) {
      display: none;
    }
  }

  &__drop {
    @include dropArea;
    position: absolute;
    top: 30px;
    max-width: 400px;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
    transition: max-height .3s cubic-bezier(1, 1, 1, 1);

    @media(max-width: $mobileBreakPoint) {
      top: 57px;
      left: 0;
      padding-right: 15px;
      border-radius: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &__list {
    margin: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: max-content;
    max-height: 300px;
    @include scrollbar;

    @media(max-width: $mobileBreakPoint) {
      width: 100%;
      max-height: 100%;
    }
  }

  &__item {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    

    &_current, &:hover {
      background-color: #F5F5F5;
    }
  }

  &.opened {
    
    .city-select__drop {
      max-height: 380px;
    }

    .city-select__arrow {
      rotate: -90deg;
    }

  }
}

.phone-block{
  display: flex;
  gap: 8px;

  &__info{
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media(max-width: $tabletBreakPoint) {
      gap: 4px;
    }  
  }

  .phone-icon {
    display: none;

    @media(max-width: $tabletBreakPoint) {
      display: initial;
    } 
  }

  &__number{
    color: inherit;
    text-decoration: none;
    line-height: 0.7;
    font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    font-weight: 600;
    transition: ease .3s;

    @media(max-width: $tabletBreakPoint) {
      font-size: 18px;
    }

    &:hover {
      color: $accentColor;
    }
  }

  &__text{
    color: $textLight;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);

    @media(max-width: $tabletBreakPoint) {
      font-size: 12px;
    }
  }
}

.search-block{
  position: relative;

  &__control{
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    height: 44px;
    overflow: hidden;
    position: absolute;
    padding: 3px;
    right: 49px;
    top: 50%;
    translate: 0 -50%;
    transition: cubic-bezier(0.25, 0.1, 1, 0.96) .3s;
    width: 0;
    visibility: hidden;
    z-index: -1;

    &.open {
      visibility: visible;
      z-index: 1;
    }

    @media(max-width: $tabletBreakPoint) {
      right: auto;
      left: 32px;
    }
  }

  &__button {
    background-color: $redAccent;
    border: 1px solid $redAccent;
    height: 38px;
  }

  &__reset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    padding: 14px 15px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: $textDark;
    caret-color: $accentColor;

    &::placeholder {
      color: $textLight;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  .search-icon {
    transition: ease .3s;

    &:hover {
      stroke: $accentColor;
    }
  }

  .reset-icon {
    stroke: $textLight;
  }

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.menu-products{
  display: flex;
  flex-grow: 1;
  gap: 36px;

  @media(max-width: 1560px) {
    gap: 26px;
  }

  @media(max-width: 1185px) {
    gap: 16px;
  }

  @media(max-width: $tabletBreakPoint) {
    gap: 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__link{
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    transition: ease .3s;
    display: block;

    @media(max-width: 1560px) {
      font-size: 16px;
    }

    @media(max-width: $tabletBreakPoint) {
      color: $textLight;
      border-radius: 100px;
      background-color: transparent;
      padding: 6px 14px;
      white-space: nowrap;
    }

    @media(max-width: $mobileBreakPoint) {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
      color: $redAccent;

      @media(max-width: $tabletBreakPoint) {
        text-decoration: none;
        color: $textDark;
        background-color: #F5F5F5;
      }
    }
  }
}

.personal-block{
  padding: 9px 15.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  transition: ease .3s;
  position: relative;

  @media(max-width: 1450px) {
    padding: 9px;
  }

  &:hover {
    .personal-block__text {
      color: $redAccent;
    }

    .cart-icon {
      stroke: $redAccent;
    }

    .personal-icon {
      stroke: $redAccent;
    }
  }

  &__visual{
    position: relative;
  }

  &__text{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    align-items: center;

    &_default {
      display: none;
      color: $textLight;
    }
  }

  &__link{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.cart-block{

  &::after {
    content: '';
    position: absolute;
    bottom: -23px;
    width: 100%;
    height: 23px;
  }

  &:hover {
    .cart-popup {
      display: block;
    }
  }

  &__summ {
    position: absolute;
    background: $redAccent;
    border-radius: 22px;
    outline: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    padding: 2px 9px;
    top: -1px;
    right: -20px;

    &:empty {
      display: none;
    }
  }
}

.cart-popup {
  position: absolute;
  @include dropArea;
  top: 87px;
  right: 0;
  display: none;
  width: 506px;

  &__content {
    overflow: auto;
    height: 405px;

    @include scrollbar;
  }

  &__top {
    padding-right: 20px;
  }

  &__bottom {
    font-weight: 600;
    line-height: 1.6;
    padding-right: 20px;
    position: sticky;
    bottom: 0;
    background: #fff;

    &-inner {
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      padding: 16px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__left {
    color: $textDark;
    font-size: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__sum {
    color: $textDark;
    font-size: 18px;
  }

  &__button {
    width: 140px;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__pic {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    width: 70px;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    color: $textLight;
  }

  &__name {
    color: $textDark;
  }

  &__price {
    line-height: 1.6;
  }

  &__reset {
    border-radius: 4px;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
}

.float-cart {
  position: fixed;
  right: 16px;
  bottom: 26px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 22px 0px rgba(116, 92, 0, 0.07);
  background: $redAccent;
  text-decoration: none;

  &.visible {
    @media(max-width: $tabletBreakPoint) {
      display: flex;
    }
  }

  &__summ {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    border-radius: 22px;
    background: #fff;
    color: $redAccent;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;

    &:empty {
      display: none;
    }
  }

  .cart-icon {
    width: 23px;
    height: 26px;
    stroke: #fff;
  }
}

.menu-trigger {
  position: relative;
  background-color: #000;
  border: none;
  display: none;
  padding: 0;
  cursor: pointer;
  transition: ease .3s;
  width: 14px;
  height: 2px;

  &.animate {
    background: rgba(0, 0, 0, 0);

    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &::after, &::before {
    content: "";
    position: absolute;
    left: -6px;
    background: rgb(0, 0, 0);
    width: 20px;
    height: 2px;
  }

  &::before {
    bottom: -5px;
    transition: bottom cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    bottom: 5px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.hide-menu {
  position: relative;

  @media(max-width: 1350px) {
    width: fit-content;
    padding: 20px 0;
  }

  &__menu-trigger {
    @media(max-width: 1350px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
    

    @media(max-width: 1350px) {
      display: none;
      position: absolute;
      right: 0;
      top: 76px;
      width: 200px;
      justify-content: center;
      @include dropArea;
    }

    &.open {
      display: flex;
    }
  }
}

.transformer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  &__menu-trigger {

    @media(max-width: $tabletBreakPoint) {
      display: flex;
    }
  }

  @media(max-width: $tabletBreakPoint) {
    position: fixed;
    left: 0;
    top: 63px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
    background-color: #fff;
    z-index: 20;
    gap: 0;

    &.open {
      display: flex;
    }
  }

  @media(max-width: $mobileBreakPoint) {
    top: 43px;
  }

  .city-select {
    @media(max-width: $tabletBreakPoint) {
      padding: 12px 12px 8px 21px;
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      width: 100%;
    }
  }

  .location-icon {
    @media(max-width: $tabletBreakPoint) {
      stroke: $accentColor;
    }
  }
}

.up {
  position: fixed;
  bottom: 2vw;
  right: 3vw;
  translate: 100vw 0;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background: $accentColor;
  cursor: pointer;
  transition: all ease .3s;

  @media(max-width: $tabletBreakPoint) {
    display: none;
  }

  &.visible {
    translate: 0 0;
  }

  &:hover {
    background: $accentColorHover;
  }
}

.mobile-block {
  display: none;
  align-items: center;
  gap: 8px;
  padding-left: 16px;

  @media(max-width: $tabletBreakPoint) {
    display: flex;
  }
}