*{
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
  flex-grow: 1;
}

.footer{
  flex-shrink: 1;
}

.container{
  max-width: 1512px;
  padding: 0 16px;
  margin: 0 auto;
}

.location-icon{
  width: 16px;
  height: 20px;
  fill: none;
}

.search-icon{
  width: 22px;
  height: 22px;
  fill: none;
  stroke: $textLight;
}

.cart-icon{
  width: 24px;
  height: 26px;
  fill: none;
  stroke: $textDark;
}

.personal-icon{
  width: 23px;
  height: 27px;
  fill: none;
  stroke: $textDark;
}

.shevron-icon {
  stroke: $accentColor;
  width: 18px;
  height: 9px;
}

.reset-icon {
  width: 12px;
  height: 13px;
}

.burger-icon {
  width: 13.5px;
  height: 11.5px;
}

.arrow-icon {
  width: 19px;
  height: 24px;
  stroke: #fff;
}

path {
  fill: inherit;
  stroke: inherit;
}

.title {
  color: $textDark;
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  &_h2 {
    font-size: 32px;
    line-height: 0.5;
  }

  &_h3 {
    font-size: 18px;
    line-height: 1.4;
  }
}

.button {
  cursor: pointer;
  border: 1px solid $accentColor;
  border-radius: 100px;
  background-color: $accentColor;
  padding: 13px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.85;
  text-align: center;
  height: 40px;
  transition: ease .3s;

  &:hover {
    box-shadow: 0px 4px 33px 0px rgba(255, 114, 85, 0.25);
    background-color: $redAccent;
    border: 1px solid $redAccent;
  }

  &_border {
    color: $accentColor;
    background-color: transparent;

    &:hover {
      box-shadow: 0px 4px 33px 0px rgba(255, 114, 85, 0.25);
      background-color: transparent;
      color: $redAccent;
    }
  }
}

.count-button {
  display: flex;
  align-items: center;
  width: 110px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 100px;
  background: rgb(245, 245, 245);
  overflow: hidden;
  color: $textDark;
  font-family: 'Montserrat', sans-serif;
  line-height: 0.5;
  text-align: center;
  padding: 0 13.5px;

  &__action {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: ease .3s;

    &:hover {
      color: $redAccent;
    }
  }

  &__field {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    width: 100%;
    max-width: 55px;
    margin: 0;
    border: none;
    height: 19px;
    background: transparent;
    text-align: center;
  }
}

.social-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &__text {
    color: $textLight;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
    font-weight: 500;
    line-height: 1;
  }

  &__info {
    color: $textDark;
    font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    font-weight: 600;
    line-height: 0.66;
    text-decoration: none;
    transition: all ease .3s;

    &:hover {
      color: $accentColor;
    }
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.logo {
  max-width: 442px;

  img {
    width: 100%;
    height: 100%;
  }

  &-small {
    width: 63px;
    height: 54px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.app-item {
  display: block;
  width: 140px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav-menu{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;

  &__item{
    list-style: none;
    color: $textLight;
  }

  &__link{
    text-decoration: none;
    color: inherit;
    transition: ease .3s;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);

    &:hover {
      color: $textDark;
    }
  }
}

.city-select{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  &__visible {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__field {
    color: $textLight;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
    font-weight: 500;
    line-height: 1;

    // &:hover {
    //   color: $textDark;
    // }
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    transform: rotate(90deg);
    cursor: pointer;
    transition: all ease .3s;

    &:hover {
      .shevron-icon {
        stroke: $accentColorHover;
      }
    }
  }

  &__drop {
    @include dropArea;
    position: absolute;
    top: 30px;
    max-width: 400px;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
    transition: max-height .3s cubic-bezier(1, 1, 1, 1);
  }

  &__list {
    margin: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: max-content;
    max-height: 300px;
    @include scrollbar;
  }

  &__item {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    

    &_current, &:hover {
      background-color: #F5F5F5;
    }
  }

  &.opened {
    
    .city-select__drop {
      max-height: 380px;
    }

    .city-select__btn {
      rotate: 180deg;
    }

  }
}

.phone-block{
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__number{
    color: inherit;
    text-decoration: none;
    line-height: 0.7;
    font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    font-weight: 600;
    transition: ease .3s;

      &:hover {
        color: $accentColor;
      }
  }

  &__text{
    color: $textLight;
    font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
  }
}

.search-block{
  position: relative;

  &__control{
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    height: 44px;
    overflow: hidden;
    position: absolute;
    padding: 3px;
    right: 49px;
    top: 50%;
    translate: 0 -50%;
    transition: cubic-bezier(0.25, 0.1, 1, 0.96) .3s;
    width: 0;
    visibility: hidden;
    z-index: -1;

    &.open {
      visibility: visible;
      z-index: 1;
    }
  }

  &__button {
    background-color: $redAccent;
    border: 1px solid $redAccent;
    height: 38px;
  }

  &__reset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    padding: 14px 15px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: $textDark;
    caret-color: $accentColor;

    &::placeholder {
      color: $textLight;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  .search-icon {
    transition: ease .3s;

    &:hover {
      stroke: $accentColor;
    }
  }

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.menu-products{
  display: flex;
  flex-grow: 1;
  gap: 36px;

  &__link{
    color: inherit;
    text-decoration: none;
    font-size: clamp(1.4rem, 1vw + 1rem, 1.8rem);
    font-weight: 600;
    line-height: 1.1;
    transition: ease .3s;
    display: block;

    // @media(max-width: 1560px) {
    //     font-size: 16px;
    // }

    &:hover {
      text-decoration: underline;
      color: $redAccent;
    }
  }
}

.personal-block{
  padding: 9px 15.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  transition: ease .3s;
  position: relative;

  @media(max-width: 1450px) {
    padding: 9px;
  }

  &:hover {
    .personal-block__text {
      color: $redAccent;
    }

    .cart-icon {
      stroke: $redAccent;
    }

    .personal-icon {
      stroke: $redAccent;
    }
  }

  &__visual{
    position: relative;
  }

  &__text{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    align-items: center;

    &_default {
      display: none;
      color: $textLight;
    }
  }

  &__link{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.cart-block{

  &::after {
    content: '';
    position: absolute;
    bottom: -23px;
    width: 100%;
    height: 23px;
  }

  &:hover {
    .cart-popup {
      display: block;
    }
  }

  &__summ {
    position: absolute;
    background: $redAccent;
    border-radius: 22px;
    outline: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    padding: 2px 9px;
    top: -1px;
    right: -20px;
  }
}

.cart-popup {
  position: absolute;
  @include dropArea;
  top: 87px;
  right: 0;
  display: none;
  width: 506px;

  &__content {
    overflow: auto;
    height: 405px;

    @include scrollbar;
  }

  &__top {
    padding-right: 20px;
  }

  &__bottom {
    font-weight: 600;
    line-height: 1.6;
    padding-right: 20px;
    position: sticky;
    bottom: 0;
    background: #fff;

    &-inner {
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      padding: 16px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__left {
    color: $textDark;
    font-size: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__sum {
    color: $textDark;
    font-size: 18px;
  }

  &__button {
    width: 140px;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__pic {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    width: 70px;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    color: $textLight;
  }

  &__name {
    color: $textDark;
  }

  &__price {
    line-height: 1.6;
  }

  &__reset {
    border-radius: 4px;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
}

.menu-trigger {
  background-color: transparent;
  border: none;
  display: none;
}

.hide-menu {
  @media(max-width: 1350px) {
    padding: 20px 0;
  }

  &__menu-trigger {
    @media(max-width: 1350px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;

    @media(max-width: 1350px) {
      display: none;
    }
  }
}

.transformer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  &__menu-trigger {
    @media(max-width: $tabletBreakPoint) {
      display: block;
    }
  }

  @media(max-width: $tabletBreakPoint) {
    display: none;
  }
}

.up {
  position: fixed;
  bottom: 2vw;
  right: 3vw;
  display: none;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background: $accentColor;
  cursor: pointer;
  transition: all ease .3s;

  &:hover {
    background: $accentColorHover;
  }
}