.header{
  flex-shrink: 1;
  padding: 24px 0 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  @media(max-width: $tabletBreakPoint) {
    padding: 12px 0;
    border-bottom: none;
  }

  &.isScroll {
    border-bottom: 2px solid transparent;

    .menu-products {
      gap: 26px;

      @media(min-width: 1366px) and (max-width: 1450px) {
        gap: 16px;
      }
    }

    .menu-products__link {
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .logo-small {
      display: block;
    }

    .hide-menu{
      @media(max-width: 1450px) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
          
      }
    }

    .header__rightside {

      @media(max-width: 1365px) {
        display: none;
      }
    }

    .header__leftside_border-r {
      @media(max-width: 1365px) {
        border: none;
      }
    }
  }

  &-scroll {
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    padding: 0 0 0 9px;
    width: 100%;

    @media(min-width: 1500px) {
      max-width: 1480px;
      left: auto;
    }

    @media(max-width: 1365px) {
      padding: 0 9px 0 9px;
    }
  }

  &__logo{
    padding-right: 19px;
    position: relative;
    margin-right: 20px;

    @media(max-width: $tabletBreakPoint) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 34.5px;
      background: rgba(0, 0, 0, 0.15);

      @media(max-width: $tabletBreakPoint) {
        display: none;
      }
    }

    &-small {
      display: none;
    }

    &_mob {
      display: none;
      margin: 0;
      padding: 0;

      @media(max-width: $tabletBreakPoint) {
        display: block;
      }
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &:nth-child(2) {
      @media(max-width: $tabletBreakPoint) {
        display: none;
      }
    }
  }

  &__leftside{
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media(max-width: $tabletBreakPoint) {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      width: 100%;
    }
    
    &_border-r {
      padding-right: 24px;
      border-right: 2px solid rgba(0, 0, 0, 0.15);
    }
  }

  &__rightside{
    display: flex;
    align-items: center;
    gap: 8px;

    @media(max-width: $tabletBreakPoint) {
      display: block;
      width: 100%;
      flex-grow: 1;
    }
  }

  &__nav-menu{
    padding-left: 25px;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;

    @media(max-width: $tabletBreakPoint) {
      padding-left: 0;
      padding: 0px 10px 10px 46px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .nav-menu__item{

    &:first-child {
      display: none;

      @media(max-width: $tabletBreakPoint) {
        display: initial;
      }
    }
  }

  &__menu-content {
    flex-grow: 1;
  }

  &__menu-products{
    padding-right: 26px;

    @media (max-width: 1560px) {
      justify-content: space-between;
    }
  }

  &__apps {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 0 23px;

    @media(max-width: $tabletBreakPoint) {
      display: flex;
    }
  }

  .phone-block {
    @media(max-width: $tabletBreakPoint) {
      padding: 12px 10px 8px 19px;
      border-top: 2px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    }
  }
}